<div class="ui main inverted menu">
	<div class="ui container">
		<a routerLink="/home" class="item">
			<img src="images/logo.png" alt="" />
		</a>
		<a routerLink="/projects" class="item">
            Projects
        </a>
		<a *ngIf="loginService.checkLogin()" routerLink="/profile" class="item">
            Profile
        </a>
	</div>
	<div class="right menu">
		<a *ngIf="!loginService.checkLogin()" routerLink="/register" class="item">Register</a>
		<strong *ngIf="loginService.checkLogin()" class="item">{{loginService.getUserName()}}</strong>
		<a routerLink="/login" class="item">
            {{loginService.checkLogin() ? 'Logout' : 'Login'}}
        </a>
	</div>
</div>