<p *ngIf="!projects">
    Acquiring information...
</p>

<div *ngIf="projects" class="ui relaxed divided list">
    <div *ngFor="let project of projects" class="item top right attached label">
        <i class="huge middle aligned archive icon"></i>
        <div class="content" style="cursor: pointer">
            <a class="header" (click)="onSelect(project)">
                <h3>{{project.name}}</h3>
            </a>
            <div class="description">{{project.description | slice:0:50 : ""}}...</div>
            <br />
            <div class="ui blue tag label">
                <i class="comments icon"></i>
                <a class="detail">{{project.projectReviews ? project.projectReviews.length : 0}}</a>
            </div>
            <div class="ui red tag label">
                <i class="users icon"></i>
                <a class="detail">{{project.assignedPersons ? project.assignedPersons.length : 0}}</a>
            </div>
        </div>
    </div>
</div>