<div class="ui grid">
	<div class="sixteen wide column">
		<h2 class="ui header">
			<i class="archive icon"></i>
			<div class="content">
				{{project.name | uppercase}}
				<div class="sub header">
					<div class="ui blue tag label">
						<i class="mail icon"></i>
						<a class="detail">{{project.projectReviews ? project.projectReviews.length : 0}}</a>
					</div>
					<div class="ui red tag label">
						<i class="user icon"></i>
						<a class="detail">{{project.assignedPersons ? project.assignedPersons.length : 0}}</a>
					</div>
				</div>
			</div>
		</h2>
		<div class="segment">
			<div class="ui green segment">
				<h3 class="ui green header">
					<i class="small archive icon"></i>
					<div class="content">Description</div>
				</h3>
				{{project.description}}
			</div>
			<div class="ui red right aligned segment">
				<h3 class="ui red header">
					<i class="small users icon"></i>
					<div class="content">Project allocations</div>
				</h3>
				<project-person-list *ngIf="project.assignedPersons" [assignedPersons]="project.assignedPersons"></project-person-list>
				<p *ngIf="!project.assignedPersons">No assigned users</p>
			</div>
			<div class="ui blue segment">
				<h3 class="ui blue header">
					<i class="small comments icon"></i>
					<div class="content">Reviews</div>
				</h3>
				<review-list *ngIf="project.projectReviews" [reviews]="project.projectReviews"></review-list>
				<p *ngIf="!project.projectReviews">No reviews yet... be first to add!</p>
				<review-add [project]="project" (onNewReview)="onNewReviewEvent($event)"></review-add>
			</div>
		</div>
	</div>
	<div class="column">
		<button class="ui button" (click)="goBack()">Back</button>
	</div>
</div>