<div>
    <div class="ui segment">
        <h4>Voila!</h4>
        <p>
            Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat
            vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies
            mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat
            wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum,
            eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis.
            Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam
            erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.
        </p>
        <p>
            Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat
            vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies
            mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat
            wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum,
            eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis.
            Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam
            erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.
        </p>
        <p>
            Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat
            vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies
            mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat
            wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum,
            eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis.
            Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam
            erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.
        </p>
    </div>
</div>

<div class="ui horizontal segments">
    <div class="ui segment">
        <p>Taciti. Ullamcorper varius tristique nonummy odio eleifend imperdiet tempus Nostra varius taciti quis est. Torquent
            eu pretium laoreet augue parturient euismod arcu sociosqu habitant pulvinar augue. Ut adipiscing quisque eget
            ante sit. Eget. Conubia tempus convallis auctor. Id vitae bibendum phasellus a egestas lacinia ornare faucibus
            nascetur integer.</p>
    </div>
    <div class="ui segment">
        <p>Taciti. Ullamcorper varius tristique nonummy odio eleifend imperdiet tempus Nostra varius taciti quis est. Torquent
            eu pretium laoreet augue parturient euismod arcu sociosqu habitant pulvinar augue. Ut adipiscing quisque eget
            ante sit. Eget. Conubia tempus convallis auctor. Id vitae bibendum phasellus a egestas lacinia ornare faucibus
            nascetur integer.</p>
    </div>
    <div class="ui segment">
        <p>Taciti. Ullamcorper varius tristique nonummy odio eleifend imperdiet tempus Nostra varius taciti quis est. Torquent
            eu pretium laoreet augue parturient euismod arcu sociosqu habitant pulvinar augue. Ut adipiscing quisque eget
            ante sit. Eget. Conubia tempus convallis auctor. Id vitae bibendum phasellus a egestas lacinia ornare faucibus
            nascetur integer.</p>
    </div>
</div>

<div class="ui circular segment">
    <h2 class="ui header">
        Buy Now
        <div class="sub header">$10.99</div>
    </h2>
</div>
<div class="ui inverted circular segment">
    <h2 class="ui inverted header">
        Buy Now
        <div class="sub header">$10.99</div>
    </h2>
</div>

<div class="ui segment">
    <p>I'm here to tell you something, and you will probably read me first.</p>
</div>
<div class="ui secondary segment">
    <p>I am pretty noticeable but you might check out other content before you look at me.</p>
</div>
<div class="ui tertiary segment">
    <p>If you notice me you must be looking very hard.</p>
</div>