<div class="ui middle aligned center aligned grid">
	<div *ngIf="!isLogged()" class="eight wide column">
		<h2 class="ui teal header">Login</h2>
		<form class="ui form">
			<div class="field">
				<div class="ui left icon input">
					<i class="user icon"></i>
					<input type="text" name="userName" [(ngModel)]="model.userName" placeholder="User name">
				</div>
			</div>
			<div class="field">
				<div class="ui left icon input">
					<i class="lock icon"></i>
					<input type="password" name="password" [(ngModel)]="model.password" placeholder="Password">
				</div>
			</div>
			<button type="submit" class="ui teal submit button" (click)="onSubmit($event)">Login</button>

			<div *ngIf="errorMessage" class="ui error message">{{errorMessage}}</div>

		</form>
		<div class="ui horizontal divider">or</div>
		<div class="ui message">
			<p>New to us?</p>
			<button class="ui teal submit button" routerLink="/register">Sign Up</button>
		</div>
	</div>
	<div *ngIf="isLogged()" class="column">
		<p>You are logged as: {{loginService.user.userName}}</p>
	</div>
</div>