<div class="ui comments">
    <div *ngFor="let review of reviews" class="comment">
        <i class="large user icon avatar"></i>
        <div class="content">
            <a class="author">{{review.reviewer.userName}}</a>
            <div class="metadata">
                <div class="date">2 days ago</div>
            </div>
            <div class="text">
                {{review.review}}
            </div>
            <div *ngIf="loginService.isLogged()"  class="actions">
                <a>
                    <i class="thumbs up large icon" (click)="onUserAgree()"></i> {{review.agreements ? review.agreements.length : 0}}
                </a>
                <a>
                    <i class="thumbs down large icon" (click)="onUserDisagree()"></i> {{review.disagreements ? review.disagreements.length : 0}}
                </a>
            </div>
        </div>
    </div>
</div>